@import './App.scss';

.leader-list {
    @include flex(column, flex-start, flex-start);
    width: 100%;

    .listing {
        @include flex(row, space-between, center);
        width: 100%;
        transition: background-color 0.3s;
        border-radius: 3px;

        &:hover {
            background-color: #f0eded;
        }

        .number {
            font-family: 'Squada One';
        }

        .name {
            font-family: 'Questrial';
            margin-left: 5px;
        }

        #large-stat {

            @include xs {
                font-size: 25px;
            }
            
            @include sm {
                font-size: 25px;
            }
            
            @include md {
                font-size: 30px;
            }
        }

        #small-stat {

            @include xs {
                font-size: 18px;
            }
            
            @include sm {
                font-size: 18px;
            }
            
            @include md {
                font-size: 20px;
            }
        }

        #large-name {

            @include xs {
                font-size: 16px;
            }
            
            @include sm {
                font-size: 16px;
            }
            
            @include md {
                font-size: 18px;
            }
        }

        #small-name {
            margin-bottom: 10px;

            @include xs {
                font-size: 14px;
            }
            
            @include sm {
                font-size: 14px;
            }
            
            @include md {
                font-size: 16px;
            }
        }
    }

    #divider {
        border-bottom: 1px solid #c2c2c2;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}
