@import './App.scss';

.leader-section {
    @include flex(column, flex-start, center);
    border: 1px solid #c9bfbf;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    min-height: 500px;
    
    .leader-title {
        font-family: 'Titillium Web';
        font-size: 25px;
        margin-bottom: 5px;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
    }

    .leader-divider {
        height: 5px;
        width: 30px;
        background-color: #d9cccc;
        margin: 5 0 5 0;
    }
}