@import './App.scss';

#players-wrap {
    @include flex(column, flex-start, center);
    position: relative;
    margin: 20 0 20 0;
    width: 95%;
    opacity: 0;
    animation: fadein 1s forwards;

    #leaderboard-wrap {
        @include flex(column, flex-start, center);
        margin: 60 0 0 0;
        width: 100%;

        #leaderboard-title {
            font-family: 'Titillium Web';
            margin-bottom: 10px;
            text-transform: uppercase;

            @include xs {
                font-size: 25px;
            }
            
            @include sm {
                font-size: 25px;
            }
            
            @include md {
                font-size: 30px;
            }
        }

        #filter {
            @include flex(row, center, flex-start);
            margin-bottom: 15px;

            .filter-choice {
                font-family: 'Questrial';
                border: 1px solid #c9bfbf;
                border-radius: 3px;
                margin: 5px;
                cursor: pointer;
                transition: border-color 0.75s;

                @include xs {
                    font-size: 15px;
                    padding: 5 8 5 8;
                }
                
                @include sm {
                    font-size: 15px;
                    padding: 5 8 5 8;
                }
                
                @include md {
                    font-size: 18px;
                    padding: 7 10 7 10;
                }

                &:hover {
                    border-color: #525252;
                }
            }

            .active {
                border-color: #525252 !important;
            }
        }

        #leaders {
            @include flex(row, center, flex-start);
            flex-wrap: wrap;
        }
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}