@import './App.scss';

#team-wrap {
    @include flex(column, flex-start, center);
    margin: 20 0 20 0;
    opacity: 0;
    animation: fadein 1s forwards;
    position: relative;
    width: 95%;

    #overview-wrap {
        @include flex(column, flex-start, center);
        margin-top: 60px;
        width: 100%;

        .divider {
            height: 5px;
            width: 100px;
            background-color: #8b8b8b;
            margin: 40 0 40 0;
        }

    }
}

@keyframes fadein {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}