@import './App.scss';

#year-wrap {
    @include flex(column, flex-start, center);
    position: absolute;
    left: 0;
    top: 0;
   
    #change-year {
        font-family: 'Questrial';
        border: 1px solid #8d8d8d;
        border-radius: 5px;
        cursor: pointer;

        @include xs {
            font-size: 15px;
            padding: 7;
        }
        
        @include sm {
            font-size: 15px;
            padding: 7;
        }
        
        @include md {
            font-size: 17px;
            padding: 9;
        }
    }

    #year-choices {
        font-family: 'Questrial';
        border: 1px solid #8d8d8d;
        border-radius: 5px;
        margin-top: 3px;
        overflow: hidden;
        animation: fadeinanddown 0.8s forwards;

        @include xs {
            font-size: 15px;
        }
        
        @include sm {
            font-size: 15px;
        }
        
        @include md {
            font-size: 17px;
        }
      
        #other-year {
            padding: 12 9 12 9;
            cursor: pointer;
            background-color: #faf6f0;
            transition: background-color 0.5s;

            @include xs {
                padding: 10 7 10 7;
            }
            
            @include sm {
                padding: 10 7 10 7;
            }
            
            @include md {
                padding: 12 9 12 9;
            }

            &:hover {
                background-color: #f0ece6;
            }
        }
    }
}

@keyframes fadeinanddown {
    from {
        opacity: 0;
        transform: translateY(-3px);
    } to {
        opacity: 1;
        transform: translateY(2px)
    }
}